<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<input type="text" class="nickname" id="nickbox" placeholder="What is your nickname?">
	<p id="instruction">Enter your nickname in the box above, the next message you send will display your nickname in the chat! WELCOME!</p>
	<ul id="messages"></ul>


	<form>
		<!--<h1 id=rooms_text>Rooms</h1>-->
		<select name="channel" id="channel">
			<option value="channel-a">Music</option>
			<option value="channel-b">Books</option>
    </select>
		<input class="message" type="text" id="m" autocomplete="off">
		<button class="button">send</button>
	</form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
